
@{
    ViewBag.Title = "首页";
}

<h2>pdf列表</h2>

<ul>
    <li><a href="/home/viewPDF?name=1">view.pdf</a></li>
    <li><a href="/home/viewPDF?name=AnnualReport2016_cn">华为年报.pdf</a></li>
    <li><a href="/home/viewPDF?name=linux">linux网络安全技术与实现第二版.pdf</a></li>
    <li><a href="/home/viewPDF?name=任务">任务.pdf</a></li>
</ul>
