.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.262207;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.262207;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.691406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.900000,0.000000,0.000000,0.900000,0,0);-ms-transform:matrix(0.900000,0.000000,0.000000,0.900000,0,0);-webkit-transform:matrix(0.900000,0.000000,0.000000,0.900000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.012000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.024000px;}
.ls3{letter-spacing:0.120000px;}
.ls4{letter-spacing:0.240000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{display:inline-block;width:10.918560px;}
.fc1{color:rgb(128,128,128);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.fs2{font-size:39.840000px;}
.fs1{font-size:80.160000px;}
.y12{bottom:5.184000px;}
.y10{bottom:5.270400px;}
.y11{bottom:7.776000px;}
.yf{bottom:8.640000px;}
.y1{bottom:14.688000px;}
.y13{bottom:16.416000px;}
.yc{bottom:19.440000px;}
.ya{bottom:1868.760000px;}
.y9{bottom:1924.308000px;}
.y8{bottom:2035.512000px;}
.y7{bottom:2091.132000px;}
.y6{bottom:2202.336000px;}
.y5{bottom:2257.884000px;}
.y4{bottom:2369.088000px;}
.y3{bottom:2424.744000px;}
.y2{bottom:2535.912000px;}
.y0{bottom:2591.496000px;}
.yd{bottom:2749.860000px;}
.ye{bottom:2765.844000px;}
.yb{bottom:2818.800000px;}
.h6{height:24.556641px;}
.h2{height:36.492187px;}
.h5{height:39.744000px;}
.h7{height:41.415703px;}
.h4{height:54.679453px;}
.h1{height:55.728000px;}
.h8{height:61.776000px;}
.h3{height:87.696000px;}
.h0{height:3036.096000px;}
.w9{width:114.048000px;}
.wb{width:192.672000px;}
.wa{width:192.758400px;}
.w7{width:195.350400px;}
.w5{width:210.038400px;}
.w8{width:251.942400px;}
.w1{width:255.830400px;}
.w3{width:320.630400px;}
.w4{width:362.952000px;}
.w6{width:598.392000px;}
.w2{width:1425.780000px;}
.w0{width:2142.720000px;}
.x3{left:0.000000px;}
.x1{left:26.784000px;}
.x6{left:165.456000px;}
.x0{left:232.416000px;}
.x2{left:499.464000px;}
.x4{left:927.576000px;}
.x5{left:1718.568000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.004444pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.008889pt;}
.ls3{letter-spacing:0.044444pt;}
.ls4{letter-spacing:0.088889pt;}
.ws0{word-spacing:0.000000pt;}
._0{display:inline-block;width:4.043911pt;}
.fs0{font-size:13.333333pt;}
.fs2{font-size:14.755556pt;}
.fs1{font-size:29.688889pt;}
.y12{bottom:1.920000pt;}
.y10{bottom:1.952000pt;}
.y11{bottom:2.880000pt;}
.yf{bottom:3.200000pt;}
.y1{bottom:5.440000pt;}
.y13{bottom:6.080000pt;}
.yc{bottom:7.200000pt;}
.ya{bottom:692.133333pt;}
.y9{bottom:712.706667pt;}
.y8{bottom:753.893333pt;}
.y7{bottom:774.493333pt;}
.y6{bottom:815.680000pt;}
.y5{bottom:836.253333pt;}
.y4{bottom:877.440000pt;}
.y3{bottom:898.053333pt;}
.y2{bottom:939.226667pt;}
.y0{bottom:959.813333pt;}
.yd{bottom:1018.466667pt;}
.ye{bottom:1024.386667pt;}
.yb{bottom:1044.000000pt;}
.h6{height:9.095052pt;}
.h2{height:13.515625pt;}
.h5{height:14.720000pt;}
.h7{height:15.339149pt;}
.h4{height:20.251649pt;}
.h1{height:20.640000pt;}
.h8{height:22.880000pt;}
.h3{height:32.480000pt;}
.h0{height:1124.480000pt;}
.w9{width:42.240000pt;}
.wb{width:71.360000pt;}
.wa{width:71.392000pt;}
.w7{width:72.352000pt;}
.w5{width:77.792000pt;}
.w8{width:93.312000pt;}
.w1{width:94.752000pt;}
.w3{width:118.752000pt;}
.w4{width:134.426667pt;}
.w6{width:221.626667pt;}
.w2{width:528.066667pt;}
.w0{width:793.600000pt;}
.x3{left:0.000000pt;}
.x1{left:9.920000pt;}
.x6{left:61.280000pt;}
.x0{left:86.080000pt;}
.x2{left:184.986667pt;}
.x4{left:343.546667pt;}
.x5{left:636.506667pt;}
}
